In [ ]:
#Declare a string and store it in a variable. 



#Check the type and print the id of the same.

In [ ]:
#Which are valid/invalid strings
1. 'This is Python class'
valid/invalid

2. "This is Python class"
valid/invalid

3. '''This is Python class'''
valid/invalid

4. """This is Python class"""
valid/invalid

5. 'This is Python's class'
valid/invalid

6. "Learnbay provides "Java", "Python" classes"
valid/invalid

7. "Learnbay provides 'Java', 'Python' classes"
valid/invalid

8. "This is Python's class"
valid/invalid

9. """Learnbay provides "Java", "Python" classes"""
valid/invalid

10. '''Learnbay provides "Java", "Python" classes'''
valid/invalid   #

11. '''Learnbay provides
"Java", "Python" 
classes'''
valid/invalid

12. 'This is
Python 
class'
valid/invalid

In [ ]:
#Write the code to get the output mentioned below print statement
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."

print()
#output:- The length of my_str is 66

print()
#output:- id of my_str and my_str1 is same? - True

print()
#output:- Type of my_str is: str

In [ ]:
#Indexing
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
#Write the code to get the output,instructions are mentioned below print statement. use indexing

print()
#output:- The first character in my_str is: A
#Note:- Use positive indexing

print()
#output:- The first character in my_str is: h
#Note:- Use len() function.

print()
#output:- The character at index 10 in my_str is: c
#Note:- Use positive indexing

print()
#output:- The last character in my_str is: h
#Note:- Use negative indexing.

print()
#output:- The last character in my_str is: h
#Note:- Use len() function.

print()
#output:- The character in my_str is: 8
#Note:- Use positive index

In [ ]:

#Slicing
my_str = "Although that way may not be obvious at first unless you're Dutch."
#Write the code to get the output,instructions are mentioned below print statement. use slicing
print()
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.Without begin, end and step


print()
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.with begin as 0 end using len and without step


print()
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.without begin and end but using step


print()
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.With begin, end and step


print()
#output:- You have sliced:   .with using begin and end using postive values and step as negative values.
#Slicing command should print empty string.


print()
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth


print()
#output:- You have sliced: Ahgttam tebo  r lsorDc


print()
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step


print()
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.


print()
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step


print()
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.


print(my_str[10:17:-1])
#What will be the output?


print()
#output:- You have sliced: yaw ta, Using begin, end and step.

print()
#output:- You have sliced: ess you. Using begin, end and step.

In [ ]:
#Basic operation on string
str1 = 'Learnbay'
str2 = 'Python'

#Write the code to get the output,instructions are mentioned below.
#Output is: Learnbay Python


#Error: TypeError: can only concatenate str (not "int") to str


#Error: TypeError: can only concatenate str (not "float") to str



#Find below Output
#Output is: LearnbayLearnbayLearnbay


#Error: TypeError: can't multiply sequence by non-int of type 'float'


#Error: TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
#Find below Output
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

#print True by using identity operator between str1 and str2


#print False by using identity operator between str1 and str3


#print False by using identity operator between str4 and str3


#Check if P is available in str1 and print True by using membership operator


#Check if $ is available in str3 and print True by using membership operator


#Check if N is available in str3 and print False by using membership operator

In [ ]:
#Complete the below code
str1 = 'This is Python class'
#write the code to replace 'Python' with 'Java' and you should get below error.
#TypeError: 'str' object does not support item assignment.

In [ ]:
str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print True using comparison operator


#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator


#Compare str1 and str2 and print False using comparison operator

In [ ]:
str1 = 'A'
str2 = 'a'
#Compare str1 and str2 and print True using comparison operator


#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator


#Compare str1 and str2 and print False using comparison operator

In [ ]:
str1 = 'A'
str2 = '65'
#Compare str1 and str2 using comparison operator and it should give below error.
#Error: TypeError: '>=' not supported between instances of 'str' and 'int'

#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator

In [ ]:
str1 = 'Python'
str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator


#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator


#Compare str1 and str2 and print False using comparison operator

In [ ]:
str1 = 'Python'
str2 = 'python'
#Compare str1 and str2 and print True using comparison operator


#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator


#Compare str1 and str2 and print False using comparison operator

In [ ]:
a = 'Python'
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print()
print()
print()
print()
print()

In [ ]:
a = ''
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print()
print()
print()

In [ ]:
a = 'Python'
b = 'learnbay'

#Apply logical opereators (and, or & not) on above string values and observe the output.
print()
print()
print()

In [ ]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.
print()
print()

#Write the code to get the index of '8' in my_str. Use find() and index() method.
print()
print()

#What will be the output of below code?
print(my_str.find('the'))


print(my_str.index('the'))


print(my_str.find('t', 9, 15))


print(my_str.rfind('u'))


print(my_str.rindex('u'))

In [ ]:
#W A P which applies strip() method if any string, which will be taken from user, starts and ends with space, or applies 
#rrstrip() method if that string only ends with space or applies lstrip() method if that string only starts with a space.

#For example:-
#input:- '    Python   '
#output:- 'Python'

#input:- '    Python'
#output:- 'Python'

#input:- 'Python   '
#output:- 'Python'

In [ ]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to convert all alphabets in my_str into upper case.
print()

#Write the code to convert all alphabets in my_str into lower case.
print()

#Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
print()

In [ ]:
#Write the code which takes one string from user and if it starts with small case letter then convert it to corresponding 
#capital letter otherwise if starts with capital letters then convert first character of every word in that string into capital.

In [ ]:
#Take a string from user and check if it is:-
#     1. alphanumeric
#     2. alphabets
#     3. digit
#     4. all letters are in lower case
#     5. all letters are in upper case
#     6. in title case
#     7. a space character
#     8. numeric
#     9. all number elements in string are decimal

In [ ]:
#W A P which takes a string as an input and prints True if the string is valid identifier else returns False.
#Sample Input:- 'abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if'

In [ ]:
#What will be output of below code?
s = chr(65) + chr(97)
print(s.isprintable())

s = chr(27) + chr(97)
print(s.isprintable())

s = '\n'
print(s.isprintable())

s = ''
print(s.isprintable())

In [ ]:
#What will be output of below code?
my_string = '  '
print(my_string.isascii())

my_string = 'Studytonight'
print(my_string.isascii())

my_string = 'Study tonight'
print(my_string.isascii())

my_string = 'Studytonight@123'
print(my_string.isascii())

my_string = '°'
print(my_string.isascii())

my_string = 'ö'
print(my_string.isascii())

In [ ]:
#What will be the output of below code?
firstString = "der Fluß"
secondString = "der Fluss"

if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

In [ ]:
#Write the code to get below output
#O/P 1:- python** (using ljust method)


#Write the code to get below output
#O/P 1:- **python (using rjust method)


#Write the code to get below output
#O/P 1:- **python** (using rjust method)

In [ ]:
#Write a Python program to find the length of the my_str:-

#Input:- 'Write a Python program to find the length of the my_str'
#Output:- 55

In [ ]:
#Write a Python program to find the total number of times letter 'p' is appeared in the below string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 9

In [ ]:
#Write a Python Program, to print all the indexes of all occurences of letter 'p' appeared in the string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 
# 0
# 6
# 8
# 12
# 21
# 29
# 37
# 39
# 40

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers']

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'peppers pickled of peck a picked piper peter'

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'sreppep delkcip fo kcep a dekcip repip retep'

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'retep repip dekcip a kcep fo delkcip sreppep'

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'Peter Piper Picked A Peck Of Pickled Peppers'

In [ ]:
#Write a python program to find below output:-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.'
#Output:- 'Peter piper picked a peck of pickled peppers'

In [ ]:
#Write a python program to implement index method. If sub_str is found in my_str then it will print the index
# of first occurrence of first character of matching string in my_str:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Pickl'
#Output:- 29

In [ ]:
#Write a python program to implement replace method. If sub_str is found in my_str then it will replace the first 
#occurrence of sub_str with new_str else it will will print sub_str not found:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', new_str = 'Pack'
#Output:- 'Peter Piper Picked A Pack Of Pickled Peppers.'

In [ ]:
#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', 
#Output:- '*********************Peck********************'

In [ ]:
#Write a python program to find below output (implement partition and rpartition):-

#Input:- 'This is Python class', sep = 'is', 
#Output:- ['This', 'is', 'Python class']

In [ ]:
#Write a python program which takes one input string from user and encode it in below format:-
    1. #Input:- 'Python'
       #Output:- 'R{vjqp'
        
        
        
        
        

    2. #Input:- 'Python'
       #Output:- 'Rwvfql'
        
        
        
        
        
    3. #Input:- 'Python'
       #Output:- 'R{vfml'